{% extends "VWAbonnementBundle::layout.html.twig" %}

{% block title %}

 Sport - {{ parent() }}

{% endblock %}

{% block vwclient_body %}
 
            
<h1>Liste des tarifs pour la location de vélo fatbike</h1>
<a href="{{ path('vw_location_fatbike_nouveau') }}" class="btn btn-primary">Ajouter</a>
<a href="{{ path('vw_admin_home') }}" class="btn btn-success">Revenir</a>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Type</th>
                  <th>Catégorie</th>
                  <th>Prix</th>
                  <th>Modifier</th>
                  <th>Supprimer</th>
                </tr>
              </thead>
              
                
            <tbody>
                
                {% for location in locations %}
                <tr>
                  <td>{{ location.sport.nom }}</td>
                  <td>{{ location.duree.nom }}</td>
                  <td>{{ location.prix }}</td>
                  <td><a href="{{ path('vw_location_fatbike_modifier', {'id': location.id}) }}" type="button" class="btn btn-success">Modifier</a></td>
                  <td><a href="{{ path('vw_location_fatbike_supprimer', {'id': location.id}) }}" type="button" class="btn btn-danger">Supprimer</a></td>
                </tr>
                {% endfor %}
                
              </tbody>
            </table>
          </div>


{% endblock %}

