{% extends "VWAbonnementBundle::layout.html.twig" %}

{% block title %}

 Sport - {{ parent() }}

{% endblock %}

{% block vwclient_body %}
 
            
<h1>Modifier {{ location_ski.sport.nom }} - {{ location_ski.categorie.nom }}</h1>
          <div class="container">
    
                <div class="row">
                    <a href="{{ path('vw_location_ski_liste') }}" type="button" class="btn btn-primary">Revenir</a>

                    <div class="col-sm-12">
                      {{ include("VWAbonnementBundle:Location:skiForm.html.twig") }}

                    </div>
                </div>

        </div>


{% endblock %}

