{# app/Resources/views/layout.html.twig #}
{% trans_default_domain "app" %}

<!DOCTYPE html>
<html lang="{{ app.request.getLocale() }}">


<head>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block meta_title %}{% endblock %}</title>
    <meta name="description" content="{% block meta_description %}{% endblock %} "/>

    {% block stylesheets %}

        <link rel="stylesheet" href="{{ asset('bower_components/bootstrap/dist/css/bootstrap.min.css') }}"/>
        <link rel="stylesheet" href="{{ asset('sass/app.min.css') }}"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.css">


    {% endblock %}

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>

    <!-- Open Graph data  de base -->
    <meta property="og:url" content="{{ app.request.getSchemeAndHttpHost() }}{{ app.request.pathInfo }}"/>
    <meta property="og:title"
          content="{% if page.opengraph.ogtitle is defined %}{{ page.opengraph.ogtitle }}{% endif %}"/>
    <meta property="og:description"
          content="{% if page.opengraph.ogdescription is defined %}{{ page.opengraph.ogdescription }}{% endif %}"/>
    <meta property="og:fb:app_id" content="{{ facebookid }}"/>
    <meta property="og:type" content="article"/>
    {% if app.request.locale == 'fr' %}
        <meta property="og:locale" content="fr_Ca"/>
    {% else %}
        <meta property="og:locale" content="en_CA"/>
    {% endif %}
    <meta property="og:site_name" content="{{ compagnie }}"/>
    <!-- Open Graph Image -->
    <meta property="og:image"
          content="{% if page.imagefacebook.webPathFaceBook is defined %}{{ page.imagefacebook.webPathFaceBook }}{% endif %}"/>
    <meta property="og:image:width" content="1200"/>
    <meta property="og:image:height" content="630"/>

    <style>
    .capaciteMax {
        top: 0;
        position: absolute;
        width: 100%;
        z-index: 1;
        background: #278C82;
        padding: 10px;
        left: 0;
    }
    .fixed-top {
        top: 0 !important;
    }
    .top-sec {
        padding-top: 2em !important;
    }
    @font-face {
      font-family: "Satisfy";
      src: url(/sass/Fonts/Satisfy-Regular.ttf);
    }
    .text_add1 {
        position: absolute;z-index: 10;width: 100%;padding: 5px;text-align: center; margin-top:55px; font-family: 'Satisfy'; font-size:30px; color: #FFF
    }
    .text_add2 {
        position: absolute;z-index: 10;width: 100%;padding: 5px;text-align: center; margin-top:40px; font-family: 'Satisfy'; font-size:30px; color: #FFF
    }
    .text_add3 {
        position: absolute;z-index: 10;width: 100%;padding: 5px;text-align: center; margin-top:40px; font-family: 'Satisfy'; font-size:30px; color: #FFF
    }
    @media(max-width: 1024px) {
        .text_add1 {
            margin-top:35px; font-size:20px;
        }
        .text_add2 {
            margin-top:20px; font-size:20px;
        }
        .text_add3 {
            margin-top:20px; font-size:20px;
        }
    }
    .spanprevente {
        font-style:  italic;
        font-size: 12px;
    }
    #bloc-ski .achetez {
        margin-left: -100px;
    }
    #bloc-fat-raquette .wrap-bloc-service .achetez {
        margin-left: -160px;
    }
    .marquee {
        position: absolute; top: 25px; width: 100%; z-index: 100;   
        overflow: hidden;
    }
    @media(max-width: 768px) {
        .marquee {
            top: 25px;
        }
        .marg958 {
            margin-top: 95px;
        }
        
    }
    
    #bloc-ski, #bloc-ski img.oeil {
        min-height: 370px;
    }
    #bloc-fat-raquette .wrap-bloc-service {     
        min-height: 360px;
    }
    img.bloc-service {
        min-height: 360px;
    }
    .annee {
        color: white; margin: 0 25px 0 -45px; font-size: 1.5rem; font-weight: bold;
    }
    @media(max-width: 1199px) {
        .annee {
            margin: 0; 
            text-align: center;
        }  
        
    }
    .achetez2 {
        margin-top: 25px;
    }
    @media (max-width: 768px) {
        .achetez2 {
            font-size: 0.95em;
        }    
        #bloc-ski .bloc-link-ski h4 a, #bloc-fat-raquette .bloc-link h4 a {
          font-size: 0.6em;
          padding: 0.4em 0.4em;
        }
        #bloc-ski h2.titre, #bloc-fat-raquette h2.titre, #bloc-fat-raquette h2.titre {
          font-size: 2em;
          top: 33%;
        }
    }
    @media (max-width: 520px) {
        .achetez2 {
            font-size: 0.8em;
        }    
    }
    .coockies_notice {
    background-color: rgba(0, 0, 0, 0.92);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 10000;
    text-align: center;
    padding: 15px 25px 10px;
    color: white;
}
.cn_h5 {
    font-size: 1.3rem;
    font-weight: bold;
    margin: 0 0 15px;
}
.cn_text {
    font-size: 1.1rem;
    line-height: 1.4;
}
.cn_links {
    margin: 15px 0 0;
}
.cn_links {
    margin: 15px 0 0;
}
.cn_links .db_btn {
    font-size: 0.95rem;
    margin: 0 10px;
    background: #E90013;
    color: white;
    border:none;
    padding: 5px 15px;
}

.content_pol h2 {
    font-size: 1.5rem;
  margin: 25px 0 5px 0;
}

#cmplz-cookies-overview .cmplz-dropdown summary, #cmplz-document .cmplz-dropdown summary, .editor-styles-wrapper .cmplz-unlinked-mode .cmplz-dropdown summary {
  display: block;
  background-color: rgba(239,239,239,0.5);
  margin: 5px 0;
  padding: 5px 10px;
  align-items: center;
  justify-items: stretch;
}
#cmplz-cookies-overview .cmplz-dropdown summary div input[data-category="functional"], #cmplz-document .cmplz-dropdown summary div input[data-category="functional"], .editor-styles-wrapper .cmplz-unlinked-mode .cmplz-dropdown summary div input[data-category="functional"] {
  visibility: hidden;
}
.screen-reader-text {
  clip: rect(1px,1px,1px,1px);
  word-wrap: normal !important;
  border: 0;
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.cn_links2 {
    margin: 20px 0 0;
}
.cn_links2 a {
    color: white;
    margin: 0 20px 0 0;
    font-size: 0.9rem;
    
}
@media(min-width:1051px) {
    nav.navbar .link_lang {
        display: none;
    }
    .hide26 {
         display: none !important;
    }
    .dropdown .fa-caret-down {
        display: none;
    }
}
@media(max-width:1050px) {
    nav.navbar .navbar-collapse.collapse.show {
        height: 100vh;
    }
    nav.navbar .navbar-toggler {
        cursor: pointer;
        border: none;
    }
    nav.navbar .navbar-toggler .fa-bars {
        font-size:35px;
    }
    nav.navbar .annee {
        display: none;
    }
    nav.navbar .link_lang {
        display: inline-block;
        position: absolute;
        right: 75px;
        font-size: 20px;
        color: white;
        text-transform: uppercase;
        top: 15px;
    }
    nav.navbar .link_lang:hover {
        text-decoration: none;
    }
    .hide25 {
         display: none !important;
    }
    .link_visite {
        color: white;
        font-family: 'Satisfy';
        font-size: 25px;
        font-weight: bold;
    }
    #principal .dropdown-toggle:hover {
      background-color: transparent;
      cursor: pointer;
    }
    .dropdown .fa-caret-down {
        margin-left: 10px;
    }
    .navbar-nav .menuIn li.nav-item {
      width: 90%;
      text-align: left;
      padding-left: 25px;
    }
    hr.hr_menu {
        border-top: 1px solid #CCC;
        width: 50%;
    } 
    .navbar-nav .menuIn .nav-link {
        font-family: 'Satisfy';
        font-size: 25px;
        font-weight: bold;
        text-transform: capitalize;
    }  
    .navbar-nav .menuIn .nav-link .fa-snowflake-o {
        font-size: 25px;
        margin: 0 10px 0 0;
    }    
    
}

    </style>
    {{ render(controller(
    'VW\\BaseBundle\\Controller\\DefaultController::pixelsAction'
)) }}
</head>
<body>
   
{{ render(controller(
    'VW\\BaseBundle\\Controller\\DefaultController::cookAction'
)) }}
    
<!-- nav principal  -->

{#<div class="alertLocation">

<h4 class="locationFerme"> *** {{ 'locationFerme'|trans }} *** </h4>

<h4 class="capaciteMax" style="
{{ render(controller(
        'VW\\AbonnementBundle\\Controller\\CentreController::capaciteAction',
        {}
    )) }}

"> *** {{ 'maxCapacite'|trans }} *** </h4>

</div>#}



{% include('navbar.html.twig') %}
<div class="container-fluid marg958" style="padding-left:0 !important;padding-right:0 !important;">
{#{% if app.request.get('_route') == 'vw_base_homepage' %}    
<div class='marquee' data-duration='25000' data-gap='10' data-duplicated='false' style="" >
   Achat de passe en ligne <strong style="color:#D90C18; font-size: 1.2em;">à partir du 22 octobre 2023</strong>
</div>
{% endif %}#}
    <div class="row top-sec">

        <div class="col-md-12 col-md-3 col-lg-3">

<span class="statut">


                <div class="date">

                       <!-- <h3><a href="{% if app.request.getLocale() == "fr" %}{{ path('vw_page_vente', {'_locale': 'fr'}) }}{% else %}{{ path('vw_page_vente_en', {'_locale': 'en'}) }}{% endif %}">{{ 'Vente'|trans }}<br><span>{{ 'VenteDate'|trans }}</span></a></h3> -->
                    {{ "now"|date("d M") }}
                    </div>

                        {{ render(controller('VWAbonnementBundle:Centre:statut')) }}

            </span>
            
          <!--  <a href="{{ path('vw_page_vente', {'_locale': 'fr'}) }}"><span class="statut">Vente annuelle 15-16-17 novembre</span></a> -->
           
        </div>

        <div class="col-md-9 col-lg-9 hidden-sm-down">

            <div id='nav-secondaire'>
                <ul>

                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('vw_base_locale_changer') }}"><i class="fa fa-language"
                                                                                           aria-hidden="true"></i> {{ 'En'|trans }}
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link"
                           href="{% if app.request.getLocale() == "fr" %}{{ path('vw_base_homepage', {'_locale': 'fr'}) }}{% else %}{{ path('vw_base_homepage_en', {'_locale': 'en'}) }}{% endif %}"><i
                                    class="fa fa-home" aria-hidden="true"></i> {{ 'Home'|trans }}</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link"
                           href="{% if app.request.getLocale() == "fr" %}{{ path('vw_contact_homepage', {'_locale': 'fr'}) }}{% else %}{{ path('vw_contact_homepage_en', {'_locale': 'en'}) }}{% endif %}"><i
                                    class="fa fa-map-marker" aria-hidden="true"></i> Contact</a>
                    </li>

                    
                    <li class="nav-item">
                        <a class="nav-link"
                           href="{% if app.request.getLocale() == "fr" %}{{ path('vw_page_gallerie', {'_locale': 'fr'}) }}{% else %}{{ path('vw_page_gallerie_en', {'_locale': 'en'}) }}{% endif %}"><i
                                    class="fa fa-camera" aria-hidden="true"></i> {{ 'Pictures'|trans }}</a>
                    </li>


                    <li class="nav-item">
                        <a class="nav-link"
                           href="{% if app.request.getLocale() == "fr" %}{{ path('vw_page_reception', {'_locale': 'fr'}) }}{% else %}{{ path('vw_page_reception_en', {'_locale': 'en'}) }}{% endif %}"><i
                                    class="fa fa-cutlery" aria-hidden="true"></i></i> {{ 'Reception room'|trans }}</a>
                    </li>


                    <li class="nav-item">
                        <a class="nav-link"
                           href="{% if app.request.getLocale() == "fr" %}{{ path('vw_sentier_condition', {'_locale': 'fr'}) }}{% else %}{{ path('vw_sentier_condition_en', {'_locale': 'en'}) }}{% endif %}"><i
                                    class="fa fa-snowflake-o" aria-hidden="true"></i> {{ 'Conditions'|trans }}</a>
                    </li>
            


                <li class="nav-item">
                    <a class="nav-link"
                       href="{% if app.request.getLocale() == "fr" %}{{ path('vw_page_eventsaison', {'_locale': 'fr'}) }}{% else %}{{ path('vw_page_eventsaison_en', {'_locale': 'en'}) }}{% endif %}"><i
                                class="fa fa-snowflake-o" aria-hidden="true"></i> {{ 'Events season'|trans }}</a>
                </li>
                {#<li class="nav-item">
                        <a class="nav-link"
                           href="{% if app.request.getLocale() == "fr" %}{{ path('vw_page_ecole', {'_locale': 'fr'}) }}{% else %}{{ path('vw_page_ecole_en', {'_locale': 'en'}) }}{% endif %}"><i class="fa fa-graduation-cap" aria-hidden="true"></i> {{ 'School'|trans }}</a>
                    </li>#}
                    
            

                </ul>
            </div>
        </div>


    </div>

</div>

<div class="container-fluid">
    <div class="col-sm-12">
        <h4 class="neige">
            


</h4>
    </div>
</div>

<!------- Main
------------------------------------------------------------------>


{% block body %}{% endblock %}


<!------- Footer
 -------------------------------------------------------------------------------------------------------->
<section class="newsletter" style="text-align:center; background: #F0F0F0; padding : 20px 0; margin: 20px 0 0 0;">
    <h4>Inscrivez-vous à notre infolettre !</h4>
    <!-- Begin Mailchimp Signup Form -->
    <link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
    <style type="text/css">
        #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; width:100%;}
        /* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
           We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
    </style>
    <div id="mc_embed_signup" style=" background: #F0F0F0">
    <form action="https://skigailuron.us5.list-manage.com/subscribe/post?u=fc4621a0fc2fc5deb4574cd1c&amp;id=c9d8447389" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate style="padding: 0">
        <div id="mc_embed_signup_scroll">
        <label for="mce-EMAIL"></label>
        <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Courriel" required>
        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_fc4621a0fc2fc5deb4574cd1c_c9d8447389" tabindex="-1" value=""></div>
        <div class="clear"><input type="submit" value="Envoyer" name="subscribe" id="mc-embedded-subscribe" class="button" style="background: #E90013"></div>
        </div>
    </form>
    </div>
    
    <!--End mc_embed_signup-->
</section> 
<footer>

    <div class="container">

        <!-- footer bloc 1  ------------------------------------------->
        <div class="row">

            <div class="col-sm-12 col-md-4">
                <div itemscope itemtype="http://schema.org/LocalBusiness">
                    <div itemprop="name">{{ compagnie }}</div>
                    <div><i class="fa fa-envelope-open" aria-hidden="true"></i> <span
                                itemprop="email">{{ courriel }}</span></div>
                    <div><i class="fa fa-phone-square" aria-hidden="true"></i>
                        <span itemprop="telephone">{{ telephone }}</span></div>

                    <div itemtype="http://schema.org/GeoCoordinates" itemscope="" itemprop="geo">
                        <meta itemprop="latitude" content="{{ latitude }}"/>
                        <meta itemprop="longitude" content="{{ longitude }}"/>

                    </div>
                    <div itemtype="http://schema.org/PostalAddress" itemscope="" itemprop="address">
                        <div itemprop="streetAddress">{{ adresse_civique }}</div>
                        <div><span itemprop="addressLocality">{{ ville }}</span>, <span
                                    itemprop="addressRegion">{{ province }}</span> <span
                                    itemprop="postalCode">{{ code_postal }}</span></div>
                    </div>
                </div>

                <ul class="social-icon">
                    <li><a href="{{ facebooklink }}" title="{{ compagnie }} - Facebook" target="_blank"><i
                                    class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    {#<li><a href="{{ googlepluslink }}" title="{{ compagnie }} - Google plus" target="_blank"><i
                                    class="fa fa-google-plus" aria-hidden="true"></i></a></li>#}
                </ul>


            </div><!-- col -->

            <!-- footer bloc 2  ------------------------------------------->

            <div class="col-sm-12 col-md-8 services-footer">

                <div class="row">

                    <div class="col-sm-4">

                        <h3>Ski de fond</h3>
                        <ul class="offre-services">
                            <li><a class="dropdown-item"
                                   href="{% if app.request.getLocale() == "fr" %}{{ path('vw_tarif_ski_de_fond', {'_locale': 'fr'}) }}{% else %}{{ path('vw_tarif_ski_de_fond_en', {'_locale': 'en'}) }}{% endif %}"
                                   title="">{{ 'Rates'|trans }}</a></li>
                            <li><a class="dropdown-item"
                                   href="{% if app.request.getLocale() == "fr" %}{{ path('vw_location_ski', {'_locale': 'fr'}) }}{% else %}{{ path('vw_location_ski_en', {'_locale': 'en'}) }}{% endif %}"
                                   title="">{{ 'Rental Shop'|trans }}</a></li>
                            <li><a class="dropdown-item"
                                   href="{% if app.request.getLocale() == "fr" %}{{ path('vw_sentier_ski', {'_locale': 'fr'}) }}{% else %}{{ path('vw_sentier_ski_en', {'_locale': 'en'}) }}{% endif %}"
                                   title="">{{ 'Trail'|trans }}</a></li>
                        </ul>
                    </div><!-- col -->
                    

                    <div class="col-sm-4">
                        <h3>Raquette</h3>
                        <ul class="offre-services">
                            <li><a class="dropdown-item"
                                   href="{% if app.request.getLocale() == "fr" %}{{ path('vw_tarif_raquette', {'_locale': 'fr'}) }}{% else %}{{ path('vw_tarif_raquette_en', {'_locale': 'en'}) }}{% endif %}"
                                   title="">{{ 'Rates'|trans }}</a></li>
                            <li><a class="dropdown-item"
                                   href="{% if app.request.getLocale() == "fr" %}{{ path('vw_location_raquette', {'_locale': 'fr'}) }}{% else %}{{ path('vw_location_raquette_en', {'_locale': 'en'}) }}{% endif %}"
                                   title="">{{ 'Rental Shop'|trans }}</a></li>
                            <li><a class="dropdown-item"
                                   href="{% if app.request.getLocale() == "fr" %}{{ path('vw_sentier_raquette', {'_locale': 'fr'}) }}{% else %}{{ path('vw_sentier_raquette_en', {'_locale': 'en'}) }}{% endif %}"
                                   title="">{{ 'Trail'|trans }}</a></li>
                        </ul>
                    </div><!-- col -->

                    <div class="col-sm-4">
                        <h3>Fatbike</h3>
                        <ul class="offre-services">
                            <li><a class="dropdown-item"
                                   href="{% if app.request.getLocale() == "fr" %}{{ path('vw_tarif_fatbike', {'_locale': 'fr'}) }}{% else %}{{ path('vw_tarif_fatbike_en', {'_locale': 'en'}) }}{% endif %}"
                                   title="">{{ 'Rates'|trans }}</a></li>
                            <li><a class="dropdown-item"
                                   href="{% if app.request.getLocale() == "fr" %}{{ path('vw_location_fatbike', {'_locale': 'fr'}) }}{% else %}{{ path('vw_location_fatbike_en', {'_locale': 'en'}) }}{% endif %}"
                                   title="">{{ 'Rental Shop'|trans }}</a></li>
                            <li><a class="dropdown-item"
                                   href="{% if app.request.getLocale() == "fr" %}{{ path('vw_sentier_fatbike', {'_locale': 'fr'}) }}{% else %}{{ path('vw_sentier_fatbike_en', {'_locale': 'en'}) }}{% endif %}"
                                   title="">{{ 'Trail'|trans }}</a></li>
                        </ul>
                    </div><!-- col -->
                    
                </div><!-- row -->
                
                <div class="row heure-ouverture">

                    
                    <div class="col-sm-12 col-md-4">
                        <h3>{{ 'Business hours'|trans }}</h3>
                    </div>
                    
                    <div class="col-sm-12 col-md-8">
                        {#<p>{{ 'Weekend'|trans }} : 8h à 17h | {{ 'Week'|trans }} : 9h à 17h</p>#}
                        <p>{% if app.request.getLocale() == "fr" %}Du lundi au vendredi: 8h30 à 16h30<br/>Le samedi et dimanche: 8h00 à 16h30{% else %}Monday to Friday: 8:30 am to 4:30 pm<br/>Saturday and Sunday: 8:00 am to 4:30 pm{% endif %}</p>
                    </div>


            </div>


        </div>

    </div><!-- ende container -->

    <div class="wrap-info">
        <div class="container">
            <p>{{ 'all_rights_reserved'|trans }} {{ compagnie }} {{ "now"|date("Y") }} -
                Conception {{ webmaster | raw }} |
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <a href="{{ path('vw_admin_home') }}">Section admin</a> |
                    <a href="{{ path('fos_user_security_logout') }}">Déconnexion</a>
                {% else %}
                    <a href="{{ path('fos_user_security_login') }}">Connexion</a>
                {% endif %}

            </p>
        </div>
    </div>
</footer>

<nav class="navbar fixed-bottom navbar-expand-lg navbar-dark bg-black scrolling-navbar hidden-lg-up">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('vw_base_locale_changer') }}"><i class="fa fa-language"
                                                                                   aria-hidden="true"></i> {{ 'En'|trans }}
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link"
                   href="{% if app.request.getLocale() == "fr" %}{{ path('vw_base_homepage', {'_locale': 'fr'}) }}{% else %}{{ path('vw_base_homepage_en', {'_locale': 'en'}) }}{% endif %}"><i
                            class="fa fa-home" aria-hidden="true"></i> {{ 'Home'|trans }}</a>
            </li>

            <li class="nav-item">
                <a class="nav-link"
                   href="{% if app.request.getLocale() == "fr" %}{{ path('vw_contact_homepage', {'_locale': 'fr'}) }}{% else %}{{ path('vw_contact_homepage_en', {'_locale': 'en'}) }}{% endif %}"><i
                            class="fa fa-map-marker" aria-hidden="true"></i> Contact</a>
            </li>


            <li class="nav-item">
                <a class="nav-link"
                   href="{% if app.request.getLocale() == "fr" %}{{ path('vw_page_gallerie', {'_locale': 'fr'}) }}{% else %}{{ path('vw_page_gallerie_en', {'_locale': 'en'}) }}{% endif %}"><i
                            class="fa fa-camera" aria-hidden="true"></i>
                    Photos</a>
            </li>

            <li class="nav-item">
                <a class="nav-link"
                   href="{% if app.request.getLocale() == "fr" %}{{ path('vw_page_reception', {'_locale': 'fr'}) }}{% else %}{{ path('vw_page_reception_en', {'_locale': 'en'}) }}{% endif %}"><i
                            class="fa fa-cutlery" aria-hidden="true"></i></i> Salle de réception </a>
            </li>


            <li class="nav-item">
                <a class="nav-link"
                   href="{% if app.request.getLocale() == "fr" %}{{ path('vw_sentier_condition', {'_locale': 'fr'}) }}{% else %}{{ path('vw_sentier_condition_en', {'_locale': 'en'}) }}{% endif %}"><i
                            class="fa fa-snowflake-o" aria-hidden="true"></i> {{ 'Conditions'|trans }}</a>
            </li>
        </ul>
        <ul class="navbar-nav nav-flex-icons">
            <li class="nav-item">
                <a class="nav-link"><i class="fa fa-facebook"></i></a>
            </li>

        </ul>
    </div>

    <div class="item-menu-footer-small">
        <div class="container-fluid">
            <div class="row">
                <div class="col-6">
                    <span class="map"><a href="#"><i class="fa fa-map-marker" aria-hidden="true"></i></a></span>
                </div>

                <div class="col-6">
                    <span class="telephone"><a href="#"><i class="fa fa-phone" aria-hidden="true"></i></a></span>
                </div>
            </div>

        </div>


    </div>


</nav>

<!------- Appel de fonction
  -------------------------------------------------------------------------------------------------------->


{% block javascripts %}
    <script type="text/javascript" src="{{ asset('js/mdb/jquery-3.2.1.min.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    

    <!-- Bootstrap tooltips -->
    {#<script type="text/javascript" src="{{ asset('js/mdb/popper.min.js') }}"></script>#}

    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="{{ asset('js/mdb/bootstrap.min.js') }}"></script>


    <script type="text/javascript" src="{{ asset('js/script.js') }}"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"></script>
<script>
    baguetteBox.run('.tz-gallery');
</script>

{% endblock %}
<button class="button_lead" data-leadbox-popup="wtk6ZtejKUpMXkzGhFnrXm" data-leadbox-domain="viwebinc.lpages.co" style="background: #32C88C;border-color: #32C88C;border-radius: 20px;color: rgb(230, 230, 230);display:none;vertical-align: middle;padding: 16px 32px;min-width: 192px;border: 1px solid #32C88C;font-size: 1rem;font-family: Helvetica, Arial, sans-serif;text-align: center;outline: 0;line-height: 1;cursor: pointer;-webkit-transition: background 0.3s, color 0.3s, border 0.3s;transition: background 0.3s, color 0.3s, border 0.3s; box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.6);">Prendre connaissance des mesures préventives et mesures spéciales COVID-19</button>
<script type="text/javascript">
$(document).ready(function(){
    $(".button_lead").trigger('click'); 
});
</script>

    <script src="https://cdn.jsdelivr.net/npm/jquery.marquee@1.6.0/jquery.marquee.min.js" type="text/javascript"></script>
<script>
jQuery( document ).ready(function($) {
    $('.marquee').marquee({
    });
});


</script>

<script>
jQuery( document ).ready(function($) {   	
    $(".btn_accept").click(function() {
        $.ajax({
            method: "POST",
            url: "{{ path('vw_page_acceptcoocki', {'_locale': 'fr'}) }}",
            data: {}
        })
        .done(function( msg ) {
            $('.coockies_notice').hide();
        });
    });     	
    $(".btn_refuse").click(function() {
        $.ajax({
            method: "POST",
            url: "{{ path('vw_page_refusecoocki', {'_locale': 'fr'}) }}",
            data: {}
        })
        .done(function( msg ) {
            $('.coockies_notice').hide();
            location.reload(true);
        });
    });    
});
</script>
</body>
</html>
