{# src/VW/SeoBundle/Resources/views/Seo/form.html.twig #}


<div class="well">
  {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

  {# Les erreurs générales du formulaire. #}
  {{ form_errors(form) }}


  {# Génération manuelle et éclatée : #}
 


  {# Idem pour un autre champ. #}
  

    
<!--  Contenu de la page  _________________________________________________________________-->
    <h3>Contenu de la page - Ce que le visiteur voit</h3>
    
    <div class="container-fluid">
        
         <div class="col-sm-12">
             <div class="form-group">
                {{ form_label(form.url, "Url", {'label_attr': {'class': 'col-sm-1 control-label'}}) }}
                

                <div class="col-sm-11">
                  {{ form_widget(form.url, {'attr': {'class': 'form-control'}}) }}
                    <em>Url de la page. Pas de caractères spéciaux, ni d'espace .. </em>
                    {{ form_errors(form.url) }}
                </div>
            </div>
        </div>
        
        <div class="col-sm-12">
             <div class="form-group">
                <div class="form-group">
                    {{ form_label(form.titre, "Titre menu", {'label_attr': {'class': 'col-sm-1 control-label'}}) }}
                    <div class="col-sm-11">
                      {{ form_widget(form.titre, {'attr': {'class': 'form-control'}}) }}
                        <em>Titre que l'on voit dans le menu</em>
                         {{ form_errors(form.titre) }}
                    </div>
                </div>
            </div>
        </div>
        
       
        
         <div class="col-sm-12">
                 <div class="form-group">
                    <div class="form-group">
                        {{ form_label(form.seo.h1, "Titre", {'label_attr': {'class': 'col-sm-1 control-label'}}) }}
                        <div class="col-sm-11">
                          {{ form_widget(form.seo.h1, {'attr': {'class': 'form-control'}}) }}
                            <em>Titre que l'on voit sur la page qui est le H1. Doit contenir le mot clé principal</em>
                             {{ form_errors(form.seo.h1) }}
                        </div>
                    </div>
                </div>
            </div>
        
         <div class="col-sm-12">
                 <div class="form-group">
                    <div class="form-group">
                        {{ form_label(form.seo.h2, "Sous-titre", {'label_attr': {'class': 'col-sm-1 control-label'}}) }}
                        <div class="col-sm-11">
                          {{ form_widget(form.seo.h2, {'attr': {'class': 'form-control'}}) }}
                            <em>Sous titre h2</em>
                             {{ form_errors(form.seo.h2) }}
                        </div>
                    </div>
                </div>
            </div>
        
        
        <div class="col-sm-12">
                 <div class="form-group">
                    <div class="form-group">
                        {{ form_label(form.contenu, "Contenu", {'label_attr': {'class': 'col-sm-1 control-label'}}) }}
                        <div class="col-sm-11">
                          {{ form_widget(form.contenu, {'attr': {'class': 'form-control'}}) }}
                            <em>Contenu</em>
                             {{ form_errors(form.contenu) }}
                        </div>
                    </div>
                </div>
            </div>
        
        
       
        
        
    </div>
    

<!--  SEO pour moteur de recherche _________________________________________________________________-->
    <div class="container-fluid">
        <h3>SEO bloc</h3>
       
           
        
        <div class="col-sm-6">
                 <div class="form-group">
                    <div class="form-group">
                        {{ form_label(form.seo.metaTitle, "Meta title", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
                        <div class="col-sm-8">
                          {{ form_widget(form.seo.metaTitle, {'attr': {'class': 'form-control'}}) }}
                            <em><a href="https://moz.com/learn/seo/title-tag" target="_blank">Meta title</a> - 50-60 characters - Ex.: Mot clé principal - Mot clé secondaire | Compagnie ou région</em>
                             {{ form_errors(form.seo.metaTitle) }}
                        </div>
                    </div>
                </div>
            </div>
        
        <div class="col-sm-12">
                 <div class="form-group">
                    <div class="form-group">
                        {{ form_label(form.seo.metaDescription, "Meta Description", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                        <div class="col-sm-10">
                          {{ form_widget(form.seo.metaDescription, {'attr': {'class': 'form-control'}}) }}
                            <em>Meta title</em>
                             {{ form_errors(form.seo.metaDescription) }}
                        </div>
                    </div>
                </div>
            </div>
        

    </div>



   
<div class="container-fluid">
    <div class="col-sm-12">
        {{ form_rest(form) }}
    </div>

  

  {# Fermeture de la balise <form> du formulaire HTML #}
  {{ form_end(form) }}
</div>
    </div>