<div class="container pages">
    <div class="row">
        <div class="col-sm-12">

            <header class="entry-header">
                <h1 class="entry-title">Le Gai-Luron en images</h1>
            </header><!-- .entry-header -->
            
            
            <div class="container gallery-container">

   
    
                    <div class="tz-gallery">

                        <div class="row">
            
                            {#<figure class="col-md-4">
                                  <a href="{{ absolute_url(asset('/images/gallerie/centre-de-ski-fond-laurentides-gai-luron-00.JPG')) }}" data-size="1600x1067" class="lightbox">
                                      
                                      <img src="{{ absolute_url(asset('/images/gallerie/centre-de-ski-fond-laurentides-gai-luron-00.JPG')) }}" class="img-fluid">
                                  </a>
                              </figure>
            
                            <figure class="col-md-4">
                                  <a href="{{ absolute_url(asset('/images/gallerie/centre-de-ski-fond-laurentides-gai-luron-01.JPG')) }}" data-size="1600x1067" class="lightbox">
                                      
                                      <img src="{{ absolute_url(asset('/images/gallerie/centre-de-ski-fond-laurentides-gai-luron-01.JPG')) }}" class="img-fluid">
                                  </a>
                              </figure>#}
                            
                            <figure class="col-md-4">
                                  <a href="{{ absolute_url(asset('/images/gallerie/IMG_7148.jpeg')) }}" data-size="1600x1067" class="lightbox">
                                      
                                      <img src="{{ absolute_url(asset('/images/gallerie/IMG_7148.jpeg')) }}" class="img-fluid">
                                  </a>
                              </figure>
                            
                            <figure class="col-md-4">
                                  <a href="{{ absolute_url(asset('/images/gallerie/location-de-fatbike.jpg')) }}" data-size="1600x1067" class="lightbox">
                                      
                                      <img src="{{ absolute_url(asset('/images/gallerie/location-de-fatbike-thumb.png')) }}" class="img-fluid">
                                  </a>
                              </figure>
                            
                            <figure class="col-md-4">
                                  <a href="{{ absolute_url(asset('/images/gallerie/location-ski-de-fond.jpg')) }}" data-size="1600x1067" class="lightbox">
                                      
                                      <img src="{{ absolute_url(asset('/images/gallerie/location-ski-de-fond-thumb.png')) }}" class="img-fluid">
                                  </a>
                              </figure>
                            
                            <figure class="col-md-4">
                                  <a href="{{ absolute_url(asset('/images/gallerie/centre-de-ski-fond-laurentides-gai-luron-02.JPG')) }}" data-size="1600x1067" class="lightbox">
                                      
                                      <img src="{{ absolute_url(asset('/images/gallerie/centre-de-ski-fond-laurentides-gai-luron-02.JPG')) }}" class="img-fluid">
                                  </a>
                              </figure>
                            
                            
                            {#<figure class="col-md-4">
                                  <a href="{{ absolute_url(asset('/images/gallerie/centre-de-ski-fond-laurentides-gai-luron-03.JPG')) }}" data-size="1600x1067" class="lightbox">
                                      
                                      <img src="{{ absolute_url(asset('/images/gallerie/centre-de-ski-fond-laurentides-gai-luron-03.JPG')) }}" class="img-fluid">
                                  </a>
                              </figure>#}
                            
                            
                            <figure class="col-md-4">
                                  <a href="{{ absolute_url(asset('/images/gallerie/centre-de-ski-fond-laurentides-gai-luron-04.JPG')) }}" data-size="1600x1067" class="lightbox">
                                      
                                      <img src="{{ absolute_url(asset('/images/gallerie/centre-de-ski-fond-laurentides-gai-luron-04.JPG')) }}" class="img-fluid">
                                  </a>
                              </figure>
                            
                            
                            {#<figure class="col-md-4">
                                  <a href="{{ absolute_url(asset('/images/gallerie/centre-de-ski-fond-laurentides-gai-luron-05.JPG')) }}" data-size="1600x1067" class="lightbox">
                                      
                                      <img src="{{ absolute_url(asset('/images/gallerie/centre-de-ski-fond-laurentides-gai-luron-05.JPG')) }}" class="img-fluid">
                                  </a>
                              </figure>#}
                            
                            
                             {#<figure class="col-md-4">
                                  <a href="{{ absolute_url(asset('/images/gallerie/centre-de-ski-fond-laurentides-gai-luron-06.JPG')) }}" data-size="1600x1067" class="lightbox">
                                      
                                      <img src="{{ absolute_url(asset('/images/gallerie/centre-de-ski-fond-laurentides-gai-luron-06.JPG')) }}" class="img-fluid">
                                  </a>
                              </figure>#}
                            
                            <figure class="col-md-4">
                                  <a href="{{ absolute_url(asset('/images/gallerie/centre-de-ski-fond-laurentides-gai-luron-07.JPG')) }}" data-size="1600x1067" class="lightbox">
                                      
                                      <img src="{{ absolute_url(asset('/images/gallerie/centre-de-ski-fond-laurentides-gai-luron-07.JPG')) }}" class="img-fluid">
                                  </a>
                              </figure>
                            
                            {#<figure class="col-md-4">
                                  <a href="{{ absolute_url(asset('/images/gallerie/centre-de-ski-fond-laurentides-gai-luron-08.JPG')) }}" data-size="1600x1067" class="lightbox">
                                      
                                      <img src="{{ absolute_url(asset('/images/gallerie/centre-de-ski-fond-laurentides-gai-luron-08.JPG')) }}" class="img-fluid">
                                  </a>
                              </figure>#}
                            
                            
                            {#<figure class="col-md-4">
                                  <a href="{{ absolute_url(asset('/images/gallerie/centre-de-ski-fond-laurentides-gai-luron-09.JPG')) }}" data-size="1600x1067" class="lightbox">
                                      
                                      <img src="{{ absolute_url(asset('/images/gallerie/centre-de-ski-fond-laurentides-gai-luron-09.JPG')) }}" class="img-fluid">
                                  </a>
                              </figure>#}
                            
                            
                            {#<figure class="col-md-4">
                                  <a href="{{ absolute_url(asset('/images/gallerie/centre-de-ski-fond-laurentides-gai-luron-10.JPG')) }}" data-size="1600x1067" class="lightbox">
                                      
                                      <img src="{{ absolute_url(asset('/images/gallerie/centre-de-ski-fond-laurentides-gai-luron-10.JPG')) }}" class="img-fluid">
                                  </a>
                              </figure>#}
                            
                            
                            {#<figure class="col-md-4">
                                  <a href="{{ absolute_url(asset('/images/gallerie/centre-de-ski-fond-laurentides-gai-luron-11.JPG')) }}" data-size="1600x1067" class="lightbox">
                                      
                                      <img src="{{ absolute_url(asset('/images/gallerie/centre-de-ski-fond-laurentides-gai-luron-11.JPG')) }}" class="img-fluid">
                                  </a>
                              </figure>
                            
                            <figure class="col-md-4">
                                  <a href="{{ absolute_url(asset('/images/gallerie/centre-de-ski-fond-laurentides-gai-luron-12.JPG')) }}" data-size="1600x1067" class="lightbox">
                                      
                                      <img src="{{ absolute_url(asset('/images/gallerie/centre-de-ski-fond-laurentides-gai-luron-12.JPG')) }}" class="img-fluid">
                                  </a>
                              </figure>
                            
                            
                            <figure class="col-md-4">
                                  <a href="{{ absolute_url(asset('/images/gallerie/centre-de-ski-fond-laurentides-gai-luron-13.JPG')) }}" data-size="1600x1067" class="lightbox">
                                      
                                      <img src="{{ absolute_url(asset('/images/gallerie/centre-de-ski-fond-laurentides-gai-luron-13.JPG')) }}" class="img-fluid">
                                  </a>
                              </figure>
                            
                            <figure class="col-md-4">
                                  <a href="{{ absolute_url(asset('/images/gallerie/centre-de-ski-fond-laurentides-gai-luron-14.JPG')) }}" data-size="1600x1067" class="lightbox">
                                      
                                      <img src="{{ absolute_url(asset('/images/gallerie/centre-de-ski-fond-laurentides-gai-luron-14.JPG')) }}" class="img-fluid">
                                  </a>
                              </figure>#}
                            
                            <figure class="col-md-4">
                                  <a href="{{ absolute_url(asset('/images/gallerie/centre-de-ski-fond-laurentides-gai-luron-15.JPG')) }}" data-size="1600x1067" class="lightbox">
                                      
                                      <img src="{{ absolute_url(asset('/images/gallerie/centre-de-ski-fond-laurentides-gai-luron-15.JPG')) }}" class="img-fluid">
                                  </a>
                              </figure>
                            
                            <figure class="col-md-4">
                                  <a href="{{ absolute_url(asset('/images/gallerie/centre-de-ski-fond-laurentides-gai-luron-16.JPG')) }}" data-size="1600x1067" class="lightbox">
                                      
                                      <img src="{{ absolute_url(asset('/images/gallerie/centre-de-ski-fond-laurentides-gai-luron-16.JPG')) }}" class="img-fluid">
                                  </a>
                              </figure>
                            
                            {#<figure class="col-md-4">
                                  <a href="{{ absolute_url(asset('/images/gallerie/centre-de-ski-fond-laurentides-gai-luron-17.JPG')) }}" data-size="1600x1067" class="lightbox">
                                      
                                      <img src="{{ absolute_url(asset('/images/gallerie/centre-de-ski-fond-laurentides-gai-luron-17.JPG')) }}" class="img-fluid">
                                  </a>
                              </figure>#}
                            
                            
                            {#<figure class="col-md-4">
                                  <a href="{{ absolute_url(asset('/images/gallerie/centre-de-ski-fond-laurentides-gai-luron-18.JPG')) }}" data-size="1600x1067" class="lightbox">
                                      
                                      <img src="{{ absolute_url(asset('/images/gallerie/centre-de-ski-fond-laurentides-gai-luron-18.JPG')) }}" class="img-fluid">
                                  </a>
                              </figure>#}
                            
                            {#<figure class="col-md-4">
                                  <a href="{{ absolute_url(asset('/images/gallerie/centre-de-ski-fond-laurentides-gai-luron-89.JPG')) }}" data-size="1600x1067" class="lightbox">
                                      
                                      <img src="{{ absolute_url(asset('/images/gallerie/centre-de-ski-fond-laurentides-gai-luron-89.JPG')) }}" class="img-fluid">
                                  </a>
                              </figure>#}
                            
                            {#<figure class="col-md-4">
                                  <a href="{{ absolute_url(asset('/images/gallerie/centre-de-ski-fond-laurentides-gai-luron-90.JPG')) }}" data-size="1600x1067" class="lightbox">
                                      
                                      <img src="{{ absolute_url(asset('/images/gallerie/centre-de-ski-fond-laurentides-gai-luron-90.JPG')) }}" class="img-fluid">
                                  </a>
                              </figure>#}
                            
                            <figure class="col-md-4">
                                  <a href="{{ absolute_url(asset('/images/gallerie/centre-de-ski-fond-laurentides-gai-luron-91.JPG')) }}" data-size="1600x1067" class="lightbox">
                                      
                                      <img src="{{ absolute_url(asset('/images/gallerie/centre-de-ski-fond-laurentides-gai-luron-91.JPG')) }}" class="img-fluid">
                                  </a>
                              </figure>
                            
                            
                            <figure class="col-md-4">
                                  <a href="{{ absolute_url(asset('/images/gallerie/centre-de-ski-fond-laurentides-gai-luron-92.JPG')) }}" data-size="1600x1067" class="lightbox">
                                      
                                      <img src="{{ absolute_url(asset('/images/gallerie/centre-de-ski-fond-laurentides-gai-luron-92.JPG')) }}" class="img-fluid">
                                  </a>
                              </figure>
                            
                            
                            <figure class="col-md-4">
                                  <a href="{{ absolute_url(asset('/images/gallerie/centre-de-ski-fond-laurentides-gai-luron-93.JPG')) }}" data-size="1600x1067" class="lightbox">
                                      
                                      <img src="{{ absolute_url(asset('/images/gallerie/centre-de-ski-fond-laurentides-gai-luron-93.JPG')) }}" class="img-fluid">
                                  </a>
                              </figure>
                            
                            <figure class="col-md-4">
                                  <a href="{{ absolute_url(asset('/images/gallerie/centre-de-ski-fond-laurentides-gai-luron-94.JPG')) }}" data-size="1600x1067" class="lightbox">
                                      
                                      <img src="{{ absolute_url(asset('/images/gallerie/centre-de-ski-fond-laurentides-gai-luron-94.JPG')) }}" class="img-fluid">
                                  </a>
                              </figure>
                            
                            {#<figure class="col-md-4">
                                  <a href="{{ absolute_url(asset('/images/gallerie/centre-de-ski-fond-laurentides-gai-luron-95.JPG')) }}" data-size="1600x1067" class="lightbox">
                                      
                                      <img src="{{ absolute_url(asset('/images/gallerie/centre-de-ski-fond-laurentides-gai-luron-95.JPG')) }}" class="img-fluid">
                                  </a>
                              </figure>
                            
                            <figure class="col-md-4">
                                  <a href="{{ absolute_url(asset('/images/gallerie/centre-de-ski-fond-laurentides-gai-luron-96.JPG')) }}" data-size="1600x1067" class="lightbox">
                                      
                                      <img src="{{ absolute_url(asset('/images/gallerie/centre-de-ski-fond-laurentides-gai-luron-96.JPG')) }}" class="img-fluid">
                                  </a>
                              </figure>
                            
                            <figure class="col-md-4">
                                  <a href="{{ absolute_url(asset('/images/gallerie/centre-de-ski-fond-laurentides-gai-luron-97.JPG')) }}" data-size="1600x1067" class="lightbox">
                                      
                                      <img src="{{ absolute_url(asset('/images/gallerie/centre-de-ski-fond-laurentides-gai-luron-97.JPG')) }}" class="img-fluid">
                                  </a>
                              </figure>
                            
                            <figure class="col-md-4">
                                  <a href="{{ absolute_url(asset('/images/gallerie/centre-de-ski-fond-laurentides-gai-luron-98.JPG')) }}" data-size="1600x1067" class="lightbox">
                                      
                                      <img src="{{ absolute_url(asset('/images/gallerie/centre-de-ski-fond-laurentides-gai-luron-98.JPG')) }}" class="img-fluid">
                                  </a>
                              </figure>
                            
                            <figure class="col-md-4">
                                  <a href="{{ absolute_url(asset('/images/gallerie/centre-de-ski-fond-laurentides-gai-luron-99.JPG')) }}" data-size="1600x1067" class="lightbox">
                                      
                                      <img src="{{ absolute_url(asset('/images/gallerie/centre-de-ski-fond-laurentides-gai-luron-99.JPG')) }}" class="img-fluid">
                                  </a>
                              </figure>#}
                              
                            
                            
                            <figure class="col-md-4">
                                <a href="{{ absolute_url(asset('/images/gallerie/centre-de-ski-fond-laurentides-gai-luron-00-BTDM6082.JPG')) }}" class="lightbox">
                                    <img src="{{ absolute_url(asset('/images/gallerie/centre-de-ski-fond-laurentides-gai-luron-00-BTDM6082-thumb.jpg')) }}" class="img-fluid">
                                </a>
                            </figure>  
                            
                            <figure class="col-md-4">
                                <a href="{{ absolute_url(asset('/images/gallerie/centre-de-ski-fond-laurentides-gai-luron-9584.JPG')) }}" class="lightbox">
                                    <img src="{{ absolute_url(asset('/images/gallerie/centre-de-ski-fond-laurentides-gai-luron-9584-thumb.jpg')) }}" class="img-fluid">
                                </a>
                            </figure>  
                            
                            <figure class="col-md-4">
                                <a href="{{ absolute_url(asset('/images/gallerie/centre-de-ski-fond-laurentides-gai-luron-IMG_7518.jpg')) }}" class="lightbox">
                                    <img src="{{ absolute_url(asset('/images/gallerie/centre-de-ski-fond-laurentides-gai-luron-IMG_7518-thumb.jpg')) }}" class="img-fluid">
                                </a>
                            </figure> 
                            
                            <figure class="col-md-4">
                                <a href="{{ absolute_url(asset('/images/gallerie/centre-de-ski-fond-laurentides-gai-luron-0305.jpg')) }}" class="lightbox">
                                    <img src="{{ absolute_url(asset('/images/gallerie/centre-de-ski-fond-laurentides-gai-luron-0305.jpg')) }}" class="img-fluid">
                                </a>
                            </figure>  
                            
                            <figure class="col-md-4">
                                <a href="{{ absolute_url(asset('/images/gallerie/centre-de-ski-fond-laurentides-gai-luron-8314.jpg')) }}" class="lightbox">
                                    <img src="{{ absolute_url(asset('/images/gallerie/centre-de-ski-fond-laurentides-gai-luron-8314-thumb.jpg')) }}" class="img-fluid">
                                </a>
                            </figure>   
                            
                            <figure class="col-md-4">
                                <a href="{{ absolute_url(asset('/images/gallerie/centre-de-ski-fond-laurentides-gai-luron-8313.jpg')) }}" class="lightbox">
                                    <img src="{{ absolute_url(asset('/images/gallerie/centre-de-ski-fond-laurentides-gai-luron-8313-thumb.jpg')) }}" class="img-fluid">
                                </a>
                            </figure>    
                            
                            <figure class="col-md-4">
                                <a href="{{ absolute_url(asset('/images/gallerie/centre-de-ski-fond-laurentides-gai-luron-8312.jpg')) }}" class="lightbox">
                                    <img src="{{ absolute_url(asset('/images/gallerie/centre-de-ski-fond-laurentides-gai-luron-8312-thumb.jpg')) }}" class="img-fluid">
                                </a>
                            </figure>    
                            
                            <figure class="col-md-4">
                                <a href="{{ absolute_url(asset('/images/gallerie/centre-de-ski-fond-laurentides-gai-luron-E1246.JPG')) }}" class="lightbox">
                                    <img src="{{ absolute_url(asset('/images/gallerie/centre-de-ski-fond-laurentides-gai-luron-E1246-THUMB.jpg')) }}" class="img-fluid">
                                </a>
                            </figure>  
                            
                            <figure class="col-md-4">
                                <a href="{{ absolute_url(asset('/images/gallerie/centre-de-ski-fond-laurentides-gai-luron-B75.jpg')) }}" class="lightbox">
                                    <img src="{{ absolute_url(asset('/images/gallerie/centre-de-ski-fond-laurentides-gai-luron-B75-thumb.jpg')) }}" class="img-fluid">
                                </a>
                            </figure>  
                            
                            <figure class="col-md-4">
                                <a href="{{ absolute_url(asset('/images/gallerie/centre-de-ski-fond-laurentides-gai-luron-8311.jpg')) }}" class="lightbox">
                                    <img src="{{ absolute_url(asset('/images/gallerie/centre-de-ski-fond-laurentides-gai-luron-8311-thumb.jpg')) }}" class="img-fluid">
                                </a>
                            </figure> 
                            
                            <figure class="col-md-4">
                                <a href="{{ absolute_url(asset('/images/gallerie/centre-de-ski-fond-laurentides-gai-luron-8310.jpg')) }}" class="lightbox">
                                    <img src="{{ absolute_url(asset('/images/gallerie/centre-de-ski-fond-laurentides-gai-luron-8310-thumb.jpg')) }}" class="img-fluid">
                                </a>
                            </figure>  
            
                            
                            <figure class="col-md-4">
                                <a href="{{ absolute_url(asset('/images/gallerie/centre-de-ski-fond-laurentides-gai-luron-8309.jpg')) }}" class="lightbox">
                                    <img src="{{ absolute_url(asset('/images/gallerie/centre-de-ski-fond-laurentides-gai-luron-8309-thumb.jpg')) }}" class="img-fluid">
                                </a>
                            </figure>  
            
        </div>

    </div>

       </div>

    </div>
        
    </div>
</div>
            
