{% extends "VWBaseBundle::layout.html.twig" %}

{% block body %}
    <div class="container-fluid admin">
        <div class="row">
            <div class="col-md-12">
                <h1>Abonnement #{{ abonnement.id }}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 table-responsive">
                <h2>Client</h2>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>Courriel</th>
                        <th>Téléphone</th>
                        {#<th>Adresse</th>
                        <th>Code postal</th>#}
                        <th>Ville</th>
                        {#<th>Province</th>
                        <th>Pays</th>#}
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>{{ abonnement.client.nom }}</td>
                        <td>{{ abonnement.client.prenom }}</td>
                        <td>{{ abonnement.client.courriel }}</td>
                        <td>{{ abonnement.client.telephone }}</td>
                        {#<td>{{ abonnement.client.adresse }}</td>
                        <td>{{ abonnement.client.codepostal }}</td>#}
                        <td>{{ abonnement.client.ville }}</td>
                        {#<td>{{ abonnement.client.province }}</td>
                        <td>{{ abonnement.client.pays }}</td>#}
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 table-responsive">
                <h2>Passes</h2>
                {% for passe in abonnement.passe %}
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Passe #{{ passe.id }}</th>
                            <th>Type: {{ passe.type }}</th>
                            <th>Montant: {{ passe.type.prix }}$</th>
                        </tr>
                        </thead>
                    </table>
                    <div class="row">
                        <div class="col-md-3 col-print-6">
                            <table class="table">
                                <tr>
                                    <th>Nom</th>
                                    <td>{{ passe.nom }}</td>
                                </tr>
                                <tr>
                                    <th>Prénom</th>
                                    <td>{{ passe.prenom }}</td>
                                </tr>
                                {#<tr>
                                    <th>Anniversaire</th>
                                    <td>{{ passe.dateAnniversaire|date("Y/m/d") }}</td>
                                </tr>#}
                            </table>
                        </div>
                        <div class="col-md-3 hidden-print">
                            <a download="{{ passe.image.id }}.{{ passe.image.url }}" href="/uploads/img/{{ passe.image.id }}.{{ passe.image.url }}" title="ImageName">
                                <img class="image-passe" src="/uploads/img/{{ passe.image.id }}.{{ passe.image.url }}">
                            </a>
                        </div>
                        {% if 'Couple' in passe.type.categorie.nom %}
                            <div class="col-md-3 col-print-6">
                                <table class="table">
                                    <tr>
                                        <th>Nom conjoint</th>
                                        <td>{{ passe.nomConjoint }}</td>
                                    </tr>
                                    <tr>
                                        <th>Prénom conjoint</th>
                                        <td>{{ passe.prenomConjoint }}</td>
                                    </tr>
                                    <tr>
                                        <th>Anniversaire</th>
                                        <td>{{ passe.dateAnniversaireConjoint|date("Y/m/d") }}</td>
                                    </tr>
                                </table>
                            </div>
                            <div class="col-md-3 hidden-print">
                                <a download="{{ passe.imageConjoint.id }}.{{ passe.imageConjoint.url }}" href="/uploads/img/{{ passe.imageConjoint.id }}.{{ passe.imageConjoint.url }}" title="ImageName">
                                    <img class="image-passe" src="/uploads/img/{{ passe.imageConjoint.id }}.{{ passe.imageConjoint.url }}">
                                </a>
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h2>Transactions</h2>
                <table class="table">
                    <thead>
                    <tr>
                        <th>Date de la transaction</th>
                        <th>Numéro de transaction</th>
                        <th>Total</th>
                        <th>Statut</th>
                        
                    </tr>
                    </thead>
                    <tbody>
                    {% for transaction in abonnement.transactions %}
                       
                        <tr>
                            <td>{{ transaction.details.TIMESTAMP|date("Y/m/d H:i:s", "America/New_York") }}</td>
                            <td>{{ transaction.number }}</td>
                            <td>{{ transaction.details.AMT }}$</td>
                            <td>
                                {% if transaction.details.CHECKOUTSTATUS == 'PaymentActionCompleted' %}
                                    <span class="btn btn-success">Payé</span>
                                {% else %}
                                    <span class="btn btn-danger">Annulé</span>
                                {% endif %}
                            </td>
                        </tr>
                        
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <main class="col-sm-9 ml-sm-auto col-md-10 pt-3" role="main">{% block vwclient_body %}{% endblock %}</main>
{% endblock %}